@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Tokumin&display=swap');

body {
  margin: 0;
  /* height: 100vh; */
  font-family:  'Kaisei Tokumin', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* html {
  height: 100vh;
}

#root {
  height: 100vh;
} */